{% extends 'layout.html' %}
{% block title %}Order create{% endblock %}
{% block contents %}
<h1>Order create</h1>
<br>
{% if user %}
<p>Hello, {{user.username}} rank: {{user.rank}}</p>
<br>
<a href="{{ url_for('auth.logout') }}">logout</a>
{% endif %}
<p>please create your order here:</p>
<br>
<form action="{{ url_for('orders.create') }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.buyer.label }}
    {{ form.buyer }}
    {{ form.provider.label }}
    {{ form.provider }}
    {{ form.date.label }}
    {{ form.date }}
    {{ form.submit }}
</form>

{% endblock %}